@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-container {
    @apply xl:container mx-auto ;
    @apply sm:px-3;
    @apply px-8;
  }

  .custom-heading {
    @apply md:text-6xl text-4xl font-bold text-white;
  }

  body {
    /* background-color: black; */
    @apply text-white;
  }
  .sectionpadding {
    @apply py-24;
    @apply md:py-28;
    @apply xl:py-36;
  }

  .gradient-text {
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)),
      linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Headerbg {
    @apply backdrop-blur-sm bg-[#2f0e4b50];
    /* Apply the Tailwind color */
    /* position: relative; */
    /* backdrop-filter: blur(3px); */
    /* -webkit-filter: blur(8px);  */
  }
}